.list-page{     
    background-color: #f0f0f0;
}

.list-header{
    padding: 0 30px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
}
.list-header .logo, .list-header .icon{
    display: inline-block;
    margin: 0 10px;
}

.list-header .searchBox-wrap{
    width: calc(100% - 400px);
    padding: 10px 0;
    margin: 0 auto;
}
.list-header .searchBox {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    background-color: #f0f0f0;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 40px;
    margin: 0px auto;
    width: 500px;
    padding: 3px 10px;
    position: relative;
}
.list-header .searchBox:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}


.list-page-content{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}
.list-page-content .loading{
    width: 500px;
    height: 100px;
    line-height: 100px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #ecc214;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.list-page-content .loading .ivu-icon {
    animation: loadingAni 1s linear infinite;
    -webkit-animation: loadingAni 1s linear infinite; /*Safari and Chrome*/
}
@keyframes loadingAni{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-webkit-keyframes loadingAni{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(180deg);
    }
}
.list-page-content .left{
    width: 752px;
}
.list-page-content .left .tip{
    font-size: 14px;
}
.list-page-content .list-big-item{
    max-height: 128px;
    padding: 14px;
    margin-top: 16px;
    background-color: #fff;
    display: flex;
}
.list-page-content .list-big-item:hover{
    box-shadow: 0 5px 10px 0 rgba(32,33,36,0.18);
}
.list-page-content .list-big-item .message-left{
    height: 100px;
    width: 100px;
    border-radius: 4px; 
    overflow: hidden;
    margin-right: 16px;
    cursor: pointer;
}
.h2{
    font-weight: 600;
    font-size: 16px;
}
.list-page-content .list-big-item .message-right{
    width: calc(100% - 120px);
    height: 100px;
    position: relative;
}
.list-page-content .list-big-item .message-right.noImage{
    width: 100%;
}
.list-page-content .list-big-item .message-right .h2{
    width: 90%;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow: ellipsis;/*超出部分文字以...显示*/
}
.list-page-content .list-big-item .message-right .h2 em{
    color: #dd4b39;
}
.list-page-content .list-big-item .message-right .text{
    color: #464b52;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.list-page-content .list-big-item .message-right .text em{
    color: #dd4b39;
}
.list-page-content .list-big-item .message-right .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #606b75;
}
.list-page-content .pageBox{
    margin: 30px auto 0;
    text-align: center;
}

.list-page-content>.right{
    width: 272px;
}
.list-page-content .right .title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
    color: #2e2e2e;
    margin-bottom: 16px;
}
.list-page-content .right .filter-type{
    margin-bottom: 24px;
}
.filter-type-title{
    font-size: 15px;
    margin-bottom: 8px;
}
.filter-list .icon{
    width: 16px;
    height: 16px;
    background-image: url(../img/check_off.png);
    background-size: contain;
    margin-right: 8px;
}
.filter-list .icon.checked{
    background-image: url(../img/check_on.png);
}
.filter-list-item {
    padding: 4px 0;
    cursor: pointer;
}
.filter-list-item .text{
   width: 200px;
   overflow: hidden;
}
.filter-list-item .num{
    padding: 0 3px;
    color: #fff;
    background-color: #464b52;
    border-radius: 2px;
 }